body {background-color: #BEEBE9;
      margin-top: 0px;
      margin-left: 0px;
      margin-right: 0px;
      }
div {background-color: #5b8c85;
     height: 45%;
      }
h1 { margin-top: 0px;
     margin-left: 0px;
    margin-right: 0px;
  margin-bottom: 0px;}
